<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <!-- Brand / Logo -->
    <a class="navbar-brand fw-bold" href="/"
      ><i class="fa-solid fa-house-user fa-beat"></i
    ></a>

    <!-- Toggler for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="#">Search Rooms</a>
        <a class="nav-link" href="#">Nearby Rooms</a>
        <a class="nav-link" href="/listing">Rooms</a>
        <a class="nav-link" href="/listing/addnew?">List Your Room</a>
        <a class="nav-link btn btn-primary text-white px-3 ms-2" href="#"
          >Login / Sign Up</a
        >
      </div>
    </div>
  </div>
</nav>
