<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <!-- Brand / Logo -->
   <a class="navbar-brand fw-bold" href="/">
  <img src="/images/mainlogo.png" 
       alt="Home icon" 
       style="height: 60px;" 
       class="logo-animate" />
</a>

<style>
  .logo-animate {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
</style>


    <!-- Toggler for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="#">Search Rooms</a>
        <a class="nav-link" href="#">Nearby Rooms</a>
        <a class="nav-link" href="/listing">Rooms</a>
        <a class="nav-link d-flex flex-column align-items-center" href="/listing/addnew?">
         <img src="/images/listing room.png" alt="Login" style="height: 35px" />
         <span class="text-muted" style="font-size: 12px">Add Room</span>
        <% if (!currentUser) { %>
        <!-- Show when not logged in -->
        <a class="nav-link d-flex flex-column align-items-center" href="/login">
          <img src="/images/login.png" alt="Login" style="height: 30px" />
           <span class="text-muted" style="font-size: 12px">Login</span>
          

        </a>
        <a class="nav-link d-flex flex-column align-items-center" href="/register">
          <img src="/images/singi.png" alt="Sign Up" style="height: 30px" />
          <span class="text-muted" style="font-size: 12px">Register</span>
        </a>
        <% } else { %>
        <!-- Show when logged in -->
        <a
          class="nav-link d-flex flex-column align-items-center"
          href="/logout"
        >
          <img src="/images/logout_n.png" alt="Logout" style="height: 25px" />

          <span class="text-muted" style="font-size: 12px">Logout</span>
           <span class="text-muted" style="font-size: 7px"> <%= currentUser.username %></span>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
