<% layout('/layouts/boilerplate') -%>

<div class="row mt-3" style="margin-bottom: 90px">
  <div class="col-6 offset-3">
    <div>
      <h2>Welcome to the RoomRander R|R</h2>
    </div>
    <form class="needs-validation" novalidate method="post" action="/signup">
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">UserName</label>
        <input 
          type="text" 
          class="form-control" 
          id="username" 
          name="username" 
          required 
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a username.</div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="email" 
          required 
        />
       
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          name="password" 
          required 
          minlength="6"
        />
        <div class="invalid-feedback">
          Please enter a password (at least 6 characters).
        </div>
      </div>

      <!-- Checkbox -->
      <div class="mb-3 form-check">
        <input 
          type="checkbox" 
          class="form-check-input" 
          id="exampleCheck1" 
          required 
        />
        <label class="form-check-label" for="exampleCheck1">Are you human</label>
        <div class="invalid-feedback">You must confirm you are human.</div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<script>
  (() => {
    "use strict";

    const forms = document.querySelectorAll(".needs-validation");

    Array.from(forms).forEach(form => {
      form.addEventListener("submit", event => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      }, false);
    });
  })();
</script>


